@use '../../../index.scss';

.produtos {
  position: relative;
  max-width: 1375px;
  margin: 0 auto;
  padding-inline: 1rem;

  &__titulo {
    font-size: 30px;
    font-weight: 700;
    color: index.$azul;
    text-align: center;
    position: relative;
  }

  &__categorias {
    display: flex;
    max-width: 1280px;
    margin: 0 auto 24px auto;
    margin-top: 4px;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  &__categorias[data-mostrar-categorias="true"] {
    justify-content: space-between;
    border: 1px solid #BDBDBD;
  }

  &__categorias__item {
    cursor: pointer;
  }

  &__categorias[data-mostrar-categorias="true"] &__categorias__item {
    height: 40px;
    width: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #3B3B3B;
    flex-shrink: 0;
  }

  &__categorias[data-mostrar-categorias="true"] &__categorias__celular {
    font-weight: 700;
    color: index.$azul;
  }

  &__categorias[data-mostrar-categorias="true"] > :not(:last-child) {
    border-inline-start-width: 0px;
    border-inline-end: 1px solid #BDBDBD;
  }

  &__categorias[data-mostrar-categorias="false"] {
    justify-content: center;
  }

  &__categorias[data-mostrar-categorias="false"] &__categorias__item {
    text-align: center;
    font-weight: 700;
    color: index.$cinza-900;
    font-size: 15px;
  }

  &__lista {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 18px;
    padding-bottom: 90px;
  }

  &__item {
    width: 304px;
    padding-inline: 12.39px;
    padding-block: 16px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.363);
    background-color: index.$branco;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    color: #3F3F40;
  }

  &__descricao {
    margin-top: 9px;
    font-size: 15px;
    font-weight: 300;
    text-transform: lowercase;
  }

  &__de {
    margin-top: 12px;
    color: #808080;
    text-decoration: line-through;
  }

  &__por {
    font-weight: 700;
    font-size: 20px;
  }

  &__pagamento {
    font-size: 12px;
  }

  &__frete {
    font-size: 12px;
    color: index.$azul;
    margin-top: 7px;
    margin-bottom: 12px;
  }

  &__informacoes {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__botao-comprar {
    border: none;
    background-color: index.$azul;
    font-weight: 700;
    color: index.$branco;
    border-radius: 4px;
    padding-block: 14px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    transition: background-color 200ms ease;
  }

  &__botao-comprar:hover {
    background-color: #4456e4;
  }

  &__seta-esquerda,
  &__seta-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: index.$branco;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.15));
    cursor: pointer;
    transition: filter 500ms ease;
  }
  
  &__seta-esquerda {
    left: 15px;
  }
  
  &__seta-direita {
    right: 15px;
  }

  &__seta-esquerda:hover,
  &__seta-direita:hover {
    filter: drop-shadow(0 9px 7px rgb(0 0 0 / 0.1));
  }
}

// modal
.modal {
  padding-block: 15px;
  padding-right: 51px;
  padding-left: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  max-width: 769px;
  border-radius: 6px;

  &__interno {
    display: flex;
    align-items: center;

    &__fechar {
      width: 20px;
      position: absolute;
      top: 17px;
      right: 17px;
      cursor: pointer;
      transition: opacity 200ms ease;
    }

    &__fechar:hover {
      opacity: .5;
    }

    &__titulo {
      font-size: 20px;
      font-weight: 400;
      color: index.$cinza-900;
      text-transform: uppercase;
    }

    &__preco {
      font-size: 20px;
      font-weight: 600;
      color: index.$cinza-900;
    }

    &__descricao {
      font-family: 'Work Sans', sans-serif;
      color: index.$cinza-500;
      font-size: 10px;
      font-weight: 500;
      margin-top: 20px;
      line-height: 150.5%;
    }

    &__detalhes {
      font-family: 'Work Sans', sans-serif;
      font-size: 11px;
      font-weight: 600;
      color: index.$azul;
      transition: opacity 200ms ease;
      cursor: pointer;
    }

    &__detalhes:hover {
      opacity: .5;
    }

    &__compra {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 12px;

      &__quantidade {
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 15px;
        height: 36px;
        width: 110px;
        justify-content: center;
        padding-inline: 10px;
  
        &__menos,
        &__mais {
          width: 20px;
          transition: opacity 200ms ease;
          cursor: pointer;
        }

        &__contador {
          font-size: 16px;
        }
  
        &__menos:hover,
        &__mais:hover {
          opacity: .5;
        }
      }

      &__botao {
        height: 36px;
        width: 188px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background-color: index.$amarelo;
        color: index.$roxo;
        transition: background-color 200ms ease, color 200ms ease;
      }

      &__botao:hover {
        background-color: #ffbb00;
        color: index.$branco;
      }
    }

  }
}

@media (max-width: 800px) {
  .modal {
    padding-right: 20px;
    padding-left: 20px;

    &__interno {
      flex-direction: column;

      &__fechar,
      &__compra__quantidade__mais,
      &__compra__quantidade__menos {
        width: 28px;
      }
    }

  }
}

@media (max-width: 1023px) {
  .produtos__lista {
    flex-direction: column;
  }

  .produtos__seta-esquerda,
  .produtos__seta-direita {
    display: none;
  }
}

@media (min-width: 1024px) {
  .produtos__titulo::after,
  .produtos__titulo::before {
    content: '';
    height: 1px;
    width: 360px;
    background-color: #DEDEDE;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .produtos__titulo::before {
    left: 95px;
  }

  .produtos__titulo::after {
    right: 95px;
  }
}